<div class="card" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPJefUAf8FZjVlKuy6hQlThyiYePAPkIHJBH_UEEfUSB63FUoGKiUH-ppFeMbXYhgjv3w&usqp=CAU">
        <span>{{position}}</span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                    {{s}}
                </span>
            </li>
        </ul>
        <div class="mt-3 d-flex justify-content-end">
            <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up_ lista_destinos_item"><i class="material-icons md-18">thumb_up</i></a>
            <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"><i class="material-icons md-18">thumb_down</i></a>
            <a href="#" (click)="voteReset()"><i class="material-icons md-18">delete_forever</i></a>
            <span class="ml-2">{{ destino.votes }}</span>
            <a href="#" class="btn btn-danger" (click)="eliminar()">Eliminar!</a>
        </div>
        <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir!</a>
        <span *ngIf="destino.isSelected()">
            <span ngNonBindable>{{PREFERIDO}}</span>
        </span>
        <a [routerLink]="['/destino', destino.id.toString()]">Ver!</a>
    </div>
</div>